{% load static %}

<!doctype html>
<html>
<head>
        
        <meta charset="utf-8" />
        <title>Log in | Chat App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Chat App" name="description" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


    </head>

    <body data-bs-theme="dark">

        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="text-center mb-4">
                            <a href="/" class="auth-logo d-block">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" width="120" class="logo logo-dark">
                                <img src="{% static 'assets/images/logo-light.png' %}" alt="" width="100" class="logo logo-light">
                            </a>

                            <h4>Sign in</h4>
                            <p class="text-muted mb-4">Sign in to continue to ChatAPP.</p>
                            
                        </div>

                        <div class="card">
                            <div class="card-body p-4">
                                <div class="p-3">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="form-label">Email</label>
                                            <div class="input-group mb-3 bg-light-subtle rounded-3">
                                                <span class="input-group-text text-muted" id="basic-addon3">
                                                    <i class="ri-user-2-line"></i>
                                                </span>
                                                    {{ form.username }}
                                            </div>
                                                    {% if form.username.errors %}
                                                        {% for error in form.username.errors %}
                                                            <li style="color: red"> {{ error|escape }} </li>
                                                        {% endfor %}
                                                    {% endif %}
                                        </div>

                                        <div class="mb-4">
                                            <div class="float-end">
                                                <a href="{% url 'account:pwd-reset' %}" class="text-muted font-size-13">Forgot password?</a>
                                            </div>
                                            <label class="form-label">Password</label>
                                            <div class="input-group mb-3 bg-light-subtle rounded-3">
                                                <span class="input-group-text text-muted" id="basic-addon4">
                                                    <i class="ri-lock-2-line"></i>
                                                </span>
                                                    {{ form.password }}
                                            </div>
                                            {% if form.password.errors %}
                                                {% for error in form.password.error %}
                                                    <li style="color: red"> {{ error|escape }} </li>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        <div class="mb-4">
                                            {% if form.non_field_errors %}
                                                {% for error in form.non_field_errors %}
                                                    <li style="color: red"> {{ error|escape }} </li>
                                                {% endfor %}
                                            {% endif %}
                                        </div>

                                        <div class="form-check mb-4">
                                            <input type="checkbox" class="form-check-input" id="remember-check">
                                            <label class="form-check-label" for="remember-check">Remember me</label>
                                        </div>

                                        <div class="d-grid">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit">Sign in</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <p>Don't have an account ? <a href="{% url 'account:register' %}" class="fw-medium text-primary"> Signup now </a> </p>
                            <p>© Copyright 2023</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end account-pages -->


        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

        <script src="{% static 'assets/js/app.js' %}"></script>

    </body>
</html>
