{% load static %}

<!doctype html>
<html lang="en">
<head>

        <meta charset="utf-8" />
        <title>Password Reset Complete</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />


    </head>

    <body data-bs-theme="dark">
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="text-center mb-4">
                            <a href="/" class="auth-logo d-block">
                                <img src="{% static 'assets/images/logo-dark.png' %}" alt="" width="120" class="logo logo-dark">
                                <img src="{% static 'assets/images/logo-light.png' %}" alt="" width="120" class="logo logo-light">
                            </a>

                            <h4>Password Reset Complete</h4>

                        </div>

                        <div class="card">
                            <div class="card-body p-4">
                                <div class="text-center p-3">
                                    {% if 'email' in request.get_full_path %}
                                        <div class="alert alert-success text-center mb-4" role="alert">
                                            Password Reset Success
                                        </div>
                                        <p>Check your email for instructions</p>
                                    {% endif %}

                                    {% if 'complete' in request.get_full_path %}
                                        <div class="alert alert-success text-center mb-4" role="alert">
                                            Password Reset Success
                                        </div>
                                        <a class="" href="{% url 'account:login'  %}">Login</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <p>Remember It ? <a href="{% url 'account:login' %}" class="fw-medium text-primary"> Signin </a> </p>
                            <p>© Copyright 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end account-pages -->


        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

        <script src="{% static 'assets/js/app.js' %}"></script>

    </body>

</html>
